.ErrorMessages {
    padding-left: 2px;
    margin-top: 3px;

    p {
        color: #f22020; 
        font-size: 0.9rem;
        font-family: Arial;
        margin-bottom: 3px;
    
        &:last-child {
            margin-bottom: 0;
        }
    }
}