// .Input {
//     outline: none;
//     border: 1.5px solid #eee;
//     font-size: 1rem;
//     padding: 8px;
//     border-radius: 3px;
//     min-width: 300px;

//     &:focus {
//         border-color: #1100ff;
//     }
// }

.Input {
    outline: none;
    border: 1.5px solid #eee;
    font-size: 1rem;
    padding: 8px;
    border-radius: 3px;
    min-width: 300px;

    &:focus {
        border-color: #1100ff;
    }
}