.Auth {
    .Tabs {
        display: flex;
        margin: 0 -20px 20px;
        font-family: Arial;

        .Tab {
            flex-basis: 50%;
            text-align: center;
            padding: 15px 0;
            border-radius: 3px 3px 0 0;
            background-color: #eee;
            cursor: pointer;
            transition: color 200ms ease;

            &:hover {
                color: #b306b3;
            }

            &.Active {
                background-color: #b306b3;
                color: #fff;
                cursor: default;
            }
        }
    }
    form {
        padding: 20px;
        padding-top: 0;
        max-width: 400px;
        margin: 40px auto;
        display: flex;
        flex-direction: column;
        background-color: #eee;
        border-radius: 3px;
    }

    .Input {
        margin-bottom: 30px;
        width: 100%;
    }

    .InputWrapper {
        position: relative;
        margin-bottom: 30px;

        .Input {
            margin-bottom: 0;
            padding-right: 40px;
        }
        
        .far {
            position: absolute;
            top: 12px;
            right: 8px;
            color: #b306b3;
            cursor: pointer;
            width: 20px;
            display: flex;
            justify-content: center;
            transition: color 200ms ease;

            &:hover {
                color: darken(#b306b3, 15%);
            }
        }

        + .ErrorMessages {
            margin-bottom: 30px;
        }
    }
}